.form-label {
  padding-bottom: 40px;
  font-weight: 700;
}

.form-helper {
  font-size: 14px;
  opacity: 0.9;
}

.create-merchant-wrapper {
  width: 50%;
  margin-left: 25%;
}

.create-merchant-wrapper h1 {
  font-size: 42px;
}

.ant-pagination-item-active a {
  color: var(--primary) !important;
}

.ant-tabs-tab a:hover {
  color: var(--primary) !important;
}

.ant-pagination-item-active {
  border-color: var(--primary) !important;
}
