.auction-card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 3rem;
  transition: all 0.5s;
}

.auction-card:hover {
  cursor: pointer;
  box-shadow: none;
}
