.auction-card {
  border: 1px solid rgba(4, 4, 5, 0.1);
  border-radius: 30px;
  padding: 2rem;
  margin-bottom: 3rem;
  transition: all 0.5s;
}

.auction-card:hover {
  cursor: pointer;
  box-shadow: none;
  box-shadow: var(--box-shadow);
}

.external-link:hover {
  color: #28cd88;
}
