.proposal {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2rem;
}

.proposal h1 {
  font-size: 42px;
}

.proposal-id {
  background-color: var(--primary);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  max-height: 50px;
}

.proposal-id span {
  color: white;
  font-size: 30px;
}

.proposal-card {
  border: 1px solid rgba(4, 4, 5, 0.1);
  padding: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 10% 45% 30%;
  grid-column-gap: 3rem;
  margin-bottom: 2rem;
}

.proposals-list {
  padding-top: 30px;
}

.vote-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-icons {
  padding-top: 0.5rem;
}

.company-icons a {
  margin-right: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.info span {
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.ant-btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.vote-button {
  background-color: var(--primary);
  border-color: var(--primary);
  outline: none;
  color: white !important;
  font-weight: 600;
  padding: 6px;
  font-family: var(--font);
  border-radius: 30px;
  width: 120px;
}

.vote-button:hover {
  border: 1px solid var(--primary) !important;
  color: white !important;
}
