/* Navbar CSS */

.navbar-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  height: 75px;
}

.navbar-wrapper svg {
  color: #fff;
  font-size: 20px;
  display: none;
}

.navbar-container {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  width: 100%;
}

.secondary-div {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}

.connect-button {
  background-color: var(--primary);
  border-radius: 6px;
  color: white !important;
}

.connect-button:hover {
  border: 1px solid var(--primary);
  color: var(--primary) !important;
}

.navbar-logo h1 {
  font-size: 35px;
  margin: 0;
  font-family: var(--heading);
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
}

.navbar-elements {
  margin: 0;
  padding: 0;
}

.navbar-elements li {
  list-style: none;
  cursor: pointer;
  font-weight: 500;
}

button {
  border: 1px solid var(--green);
  background-color: var(--black);
  color: var(--green) !important;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  font-weight: 600;
  outline: none;
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--white) !important;
}

.burger {
  border: none;
  margin: 0 0 0 2rem;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  display: none;
}

.burger:hover {
  background-color: transparent;
}

.disconnect-wallet {
  border: 1px solid var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--white) !important;
  padding: 0.5rem 2rem;
  margin-top: 1.3rem;
  border-radius: 3px;
}

/* Sidebar CSS */

.sidebar .ant-drawer-content {
  background-color: var(--black);
}

.sidebar .ant-drawer-close svg {
  font-size: 40px;
  color: var(--green);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.sidebar .ant-drawer-close:hover {
  background-color: transparent;
  color: var(--green) !important;
}

.sidebar .navbar-elements {
  margin-top: 7rem;
  flex-direction: column;
  align-items: flex-start;
  color: var(--primary);
  font-family: var(--heading);
  font-size: 2rem;
}

.sidebar .navbar-elements li {
  margin-right: 0;
}

.sidebar .navbar-elements li:not(:nth-last-child(1)) {
  margin-bottom: 1rem;
}

.ant-drawer-body {
  background: white !important;
}
