.nft-card {
  padding: 1rem 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.balances-grid {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-column-gap: 2.5%;
  padding: 0.5rem;
}

.nft-card img {
  max-width: 100%;
}
