.nft-card {
  padding: 1rem 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  margin-bottom: 3rem;
}

.nft-card img {
  border-radius: 20px;
}

.balances-grid {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-column-gap: 2.5%;
  padding: 0.5rem;
}

.nft-card img {
  max-width: 100%;
}

.supporting-file {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 30px;
  margin-top: 1rem;
  transition: all 0.5s;
}

.supporting-file:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.error-msg {
  color: #ff0000;
}

.cancel-button:hover {
  cursor: pointer;
  transition: all 0.5s;
}

.cancel-button:hover {
  font-weight: 800;
}
