/*
 * CSS for global layouts & global fonts.
 */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:400&display=swap");
@import "antd/dist/antd.css";

:root {
  --font: "Poppins";
  --heading: "Bebas Neue";
  --primary: #050505;
  --grey: rgba(0, 0, 0, 0.5);
  --white: rgba(255, 255, 255);
  --box-shadow: 30px 30px 30px rgb(0 0 0 / 10%);
}

html,
body {
  font-family: var(--font), sans-serif !important;
}

/*
 * General Color & Font Styling.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #040405;
}

h1,
h2 {
  font-family: var(--heading);
}

p {
  font-weight: 400;
  color: rgba(4, 4, 5, 0.5);
  line-height: 30px;
}

input {
  padding: 15px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgba(4, 4, 5, 0.1);
  width: 100%;
  font-family: var(--font);
  margin-top: 20px !important;
}

.primary-button {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  outline: none !important;
  color: white !important;
  font-weight: 600 !important;
  font-family: var(--font) !important;
  border-radius: 6px !important;
  width: 300px !important;
  height: 50px !important;
}

.primary-button:hover {
  border: 1px solid var(--primary) !important;
  color: white !important;
}

.ant-btn[disabled] {
  opacity: 0.5 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary);
}

.ant-tabs-ink-bar {
  background: var(--primary);
}

.marketplace-grid {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-column-gap: 2%;
}

/*
 * Global Padding & Margins
 */
.pt-40 {
  padding-top: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.pt-20 {
  padding-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.mt-10 {
  margin-top: 10px;
}

/*
 * General Container Layouts & responsiveness.
 */
.container {
  width: 60vw;
  margin-left: 20vw;
}

.page-div {
  min-height: 80vh;
}

@media only screen and (max-width: 2200px) {
  .container {
    width: 80vw;
    margin-left: 10vw;
  }
}

@media only screen and (max-width: 1800px) {
  .container {
    width: 90vw;
    margin-left: 5vw;
  }
}

@media only screen and (max-width: 1440px) {
  .inner-section-div img {
    height: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .inner-section-div img {
    height: 300px;
  }
  .jumbotron h1 {
    font-size: 4rem;
  }
  .jumbotron p {
    margin-top: 2rem;
  }
  .footer-container {
    grid-template-columns: 50% 50%;
  }
  .mobile {
    display: none;
  }
  .sidebar .navbar-elements {
    display: block;
  }
  .burger {
    display: block !important;
  }
  .navbar-container {
    grid-template-columns: 70% 40% !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-container {
    grid-template-columns: 60% 50% !important;
  }
  .inner-section-div {
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    align-items: center;
  }
  .inner-section-div img {
    width: 100%;
    margin-bottom: 3rem;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse !important;
  }
}

@media only screen and (max-width: 500px) {
  .jumbotron h1 {
    font-size: 3.8rem;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .button-container button {
    width: 100% !important;
    margin-bottom: 2rem;
  }
  .jumbotron p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .section-contents h2 {
    font-size: 2.5rem;
  }
  .inner-section-content p {
    font-size: 1rem;
  }
  .inner-section-div p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .section-1 {
    padding-bottom: 3rem;
  }

  .footer-container {
    grid-template-columns: 100%;
    text-align: center;
  }
  .footer-container ul {
    display: none;
  }
  .navbar-container {
    grid-template-columns: 30% 80% !important;
  }
  .create-merchant-wrapper {
    width: 90%;
    margin-left: 5%;
  }
  .create-merchant-wrapper h1 {
    font-size: 32px;
  }
}
